<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/planner-client.js"></script>
    <script src="/assets/js/script.js"></script>
    <link rel="stylesheet" href="/assets/css/layout.css">
    <link rel="stylesheet" href="/assets/css/ui.css">
  </head>
  <body>
    <div id="app-main" class="app">
      <!-- App header -->
      <header>
        <div>
          <span>Web Planner</span>
        </div>
        <div>
          <span id="user-settings">Please sign in</span>
        </div>
      </header>
      <main style="opacity: 0">
        <!-- Planner view -->
        <div id="planner-view">
          <div class="mode-tabs">
            <div class="tab">
              <img src="/assets/images/tab_schedules.svg" alt="Schedules" height="100">
            </div>
            <div class="tab">
              <img src="/assets/images/tab_todo.svg" alt="To-do Lists" height="64">
            </div>
            <div class="tab">
              <img src="/assets/images/tab_settings.svg" alt="Settings" height="90">
            </div>
          </div>
          <div class="border">
            <div class="left">
            </div>
            <div class="right">
            </div>
          </div>
        </div>
      </main>
      <div id="modal-container" class="modal-container" style="display: none">
        <div class="fader" style="opacity: 0"></div>
        <div class="contents"></div>
      </div>
      <div id="ui-templates" style="display: none">
        <!-- Sign-in form -->
        <div id="signin-form" class="modal">
          <div class="top-tabs">
            <div class="tab active">Sign in</div>
            <div class="tab">New Account</div>
          </div>
          <div class="contents">
            <form method="POST">
              <div class="error-message">
              </div>
              <div class="form-item">
                <input id="signin-email" name="email" type="text" placeholder="E-mail Address">
              </div>
              <div class="form-item for-signup">
                <input id="signin-fullname" name="fullName" type="text" placeholder="Full Name">
              </div>
              <div class="form-item">
                <input id="signin-password" name="password" type="password" placeholder="Password">
              </div>
              <div class="form-item for-signup">
                <input id="signin-confirm" name="passwordConfirm" type="password" placeholder="Confirm Password">
              </div>
              <div class="form-item">
                <input id="signin-button" type="submit" class="tinted" value="Sign in"></button>
              </div>
            </form>
            <div class="form-item for-signup small dim">
              By creating a new account, you agree to our terms of service and privacy policy.
            </div>
            <div class="form-item for-signin small" style="text-align: center;">
              Terms of Service<br>
              Privacy Policy
            </div>
          </div>
        </div>
        <!-- Planner list -->
        <div id="planner-list">
          <header>
            <h1>My Planners</h1>
          </header>
          <div class="list">
            <div class="add-new">
              <div>
                <img src="/assets/images/icon_addplanner.svg"><br>
                Add New
              </div>
            </div>
          </div>
        </div>
        <!-- Date Spinner -->
        <div id="planner-date-spinner">
          <div class="spin-btn prev">&lt;</div>
          <div class="date-display">
            <span class="big"></span>
            <span class="detail"></span>
          </div>
          <div class="spin-btn next">&gt;</div>
        </div>
        <!-- Schedule Details -->
        <div id="schedule-details" class="paper">
          <div class="contents">
            <header>
              <h2 class="details-title">Schedule Details</h2>
            </header>
            <div>
              <form>
                <table>
                  <tbody>
                    <tr>
                      <th>Title</th>
                      <td><input name="title" type="text"></td>
                    </tr>
                    <tr>
                      <th>Location</th>
                      <td><input name="location" type="text"></td>
                    </tr>
                    <tr>
                      <th>Starts at</th>
                      <td class="start-date-picker"></td>
                    </tr>
                    <tr>
                      <th>&nbsp;</th>
                      <td>
                        <label class="cb-container">
                          <input name="allday" type="checkbox">
                          <div></div>
                          <span>All-day Event</span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <th>Ends at</th>
                      <td class="end-date-picker"></td>
                    </tr>
                    <!-- <tr>
                      <th>Labels</th>
                      <td>Not Implemented</td>
                    </tr> -->
                    <tr class="fill">
                      <th>Description</th>
                      <td><textarea name="description"></textarea></td>
                    </tr>
                    <tr>
                      <td colspan="2" style="text-align: center">
                        <button name="cancel" type="button">Cancel</button>
                        <button name="delete" type="button" class="red">Delete Schedule</button>
                        <input type="submit" class="tinted" value="Save and Close"></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
        <!-- Paper -->
        <div id="template-paper" class="paper">
          <div class="contents">
            <header>
            </header>
            <div class="main">
            </div>
          </div>
        </div>
        <!-- Date/Time Picker -->
        <span id="template-datetime-picker">
          <input name="year" type="number" min="0" max="9999" style="width: 80px"> /
          <input name="month" type="number" min="1" max="12" style="width: 60px"> /
          <input name="date" type="number" min="1" max="31" style="width: 60px">
          <select name="hour"></select> :
          <select name="minute"></select>
        </span>
        <!-- Modals -->
        <!-- New Planner Modal -->
        <div id="modal-new-planner" class="modal">
          <div class="top-tabs">
            <div class="tab active">New Planner</div>
          </div>
          <div class="contents">
            <form>
              <div class="error-message"></div>
              <div class="form-item">
                <input name="title" type="text" placeholder="Title (required)" size="30">
              </div>
              <div class="form-item" style="text-align: right">
                <button name="cancel" type="button">Cancel</button>
                <input name="submit" class="tinted" type="submit" value="Create">
              </div>
            </form>
          </div>
        </div>
        <!-- End of templates -->
      </div>
    </div>
  </body>
</html>
