<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/planner-client.js"></script>
    <script src="/assets/js/script.js"></script>
    <link rel="stylesheet" href="/assets/css/layout.css">
    <link rel="stylesheet" href="/assets/css/ui.css">
  </head>
  <body>
    <div id="app-main" class="app">
      <!-- App header -->
      <header>
        <div>
          <span>Web Planner</span>
        </div>
        <div>
          <span id="user-settings">Please sign in</span>
        </div>
      </header>
      <main style="opacity: 0">
        <!-- Planner view -->
        <div id="planner-view">
          <div class="border">
            <div class="left">
            </div>
            <div class="right">
            </div>
          </div>
        </div>
      </main>
      <div id="ui-templates" style="display: none">
        <!-- Sign-in form -->
        <div id="signin-form" class="modal">
          <div class="top-tabs">
            <div class="tab active">Sign in</div>
            <div class="tab">New Account</div>
          </div>
          <div class="contents">
            <form method="POST">
              <div class="error-message">
              </div>
              <div class="form-item">
                <input id="signin-email" name="email" type="text" placeholder="E-mail Address">
              </div>
              <div class="form-item for-signup">
                <input id="signin-fullname" name="fullName" type="text" placeholder="Full Name">
              </div>
              <div class="form-item">
                <input id="signin-password" name="password" type="password" placeholder="Password">
              </div>
              <div class="form-item for-signup">
                <input id="signin-confirm" name="passwordConfirm" type="password" placeholder="Confirm Password">
              </div>
              <div class="form-item">
                <input id="signin-button" type="submit" class="tinted" value="Sign in"></button>
              </div>
            </form>
            <div class="form-item for-signup small dim">
              By creating a new account, you agree to our terms of service and privacy policy.
            </div>
            <div class="form-item for-signin small" style="text-align: center;">
              Terms of Service<br>
              Privacy Policy
            </div>
          </div>
        </div>
        <!-- Planner list -->
        <div id="planner-list">
          <header>
            <h1>My Planners</h1>
          </header>
          <div class="list">
            <div class="add-new">
              <div>
                <img src="/assets/images/icon_addplanner.svg"><br>
                Add New
              </div>
            </div>
          </div>
        </div>
        <!-- Date Spinner -->
        <div id="planner-date-spinner">
          <div class="spin-btn prev">&lt;</div>
          <div class="date-display">
            <span class="big"></span>
            <span class="detail"></span>
          </div>
          <div class="spin-btn next">&gt;</div>
        </div>
        <!-- Schedule Details -->
        <div id="schedule-details" class="paper">
          <div class="contents">
            <header>
              <h2>Schedule Details</h2>
            </header>
            <div>
              <table>
                <tbody>
                  <tr>
                    <th>Title</th>
                    <td><input type="text"></td>
                  </tr>
                  <tr>
                    <th>Location</th>
                    <td><input type="text"></td>
                  </tr>
                  <tr>
                    <th>Starts at</th>
                    <td>Not Implemented</td>
                  </tr>
                  <tr>
                    <th>Ends at</th>
                    <td>Not Implemented</td>
                  </tr>
                  <tr>
                    <th>Labels</th>
                    <td>Not Implemented</td>
                  </tr>
                  <tr class="fill">
                    <th>Description</th>
                    <td><textarea></textarea></td>
                  </tr>
                  <tr>
                    <td colspan="2" style="text-align: center">
                      <button class="red">Cancel</button>
                      <button class="tinted">Save</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Paper -->
        <div id="template-paper" class="paper">
          <div class="contents">
            <header>
            </header>
            <div class="main">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
