<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <link rel="stylesheet" href="/assets/css/layout.css">
    <link rel="stylesheet" href="/assets/css/ui.css">
  </head>
  <body>
    <div class="app">
      <!-- Mock app header -->
      <header>
        <div>
          <span>Web Planner</span>
        </div>
        <div>
          <span>Please sign in.</span>
        </div>
      </header>
      <!-- Sign-in form -->
      <main>
        <div id="signin-form" class="modal">
          <div class="top-tabs">
            <div class="tab active">Sign in</div>
            <div class="tab">New Account</div>
          </div>
          <div class="contents">
            <form method="POST">
              <div class="error-message">
              </div>
              <div class="form-item">
                <input id="signin-email" name="email" type="text" placeholder="E-mail Address">
              </div>
              <div class="form-item for-signup">
                <input id="signin-fullname" name="fullName" type="text" placeholder="Full Name">
              </div>
              <div class="form-item">
                <input id="signin-password" name="password" type="password" placeholder="Password">
              </div>
              <div class="form-item for-signup">
                <input id="signin-confirm" name="passwordConfirm" type="password" placeholder="Confirm Password">
              </div>
              <div class="form-item">
                <input id="signin-button" type="submit" class="tinted" value="Sign in"></button>
              </div>
            </form>
            <div class="form-item for-signup small dim">
              By creating a new account, you agree to our terms of service and privacy policy.
            </div>
            <div class="form-item for-signin small" style="text-align: center;">
              Terms of Service<br>
              Privacy Policy
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
